XTerm*font:             -*-fixed-medium-r-*-*-13-*-*-*-*-60-iso10646-1
XTerm*boldFont:         -*-fixed-medium-r-*-*-13-*-*-*-*-60-iso10646-1
*.vt100.utf8: true
*.vt100.renderFont: false
*.vt100.reverseVideo: true
*.vt100.cursorColor: purple
*.vt100.blinkingCursor: true
*.vt100.bellIsUrgent: false

